body {
    color: dimgray;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

ul {
    display: flex;
    justify-content:flex-end;
    column-gap: 30px;
    list-style-type: none;
    padding: 12px;
    border-bottom: 1px solid dimgray;
}


a {
    color: dimgray;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 10px;
}


header img {
    width: 180px;
    height: 180px;    
}

.visual {
    width: 25%;
    height: 600px;
    background-color: rgb(248, 153, 37);
    background-image: linear-gradient( rgb(248, 153, 37), rgb(246, 202, 70));
    margin-top: 20px;
    padding-top: 30px;
}

.about {
    width: 65%;
    height: 600px;
    margin-top: 20px;
    text-align:left;
    padding-left: 40px;
    padding-top: 30px;
    float: right;
    color: rgb(107, 129, 129);
}

.sobre {
    padding-top: 25px;
}


footer img {
    width: 25px;
    height: 25px;
}

footer {
    display: flex;
    justify-content:center;
    padding-top: 330px;
}

footer a {
    margin: 20px;
    text-align:center;
}

footer p {
    margin-top: 5px;
}

.container {
    padding: 0px 50px;
}

nav a:hover, footer a:hover {
    color: rgb(109, 199, 199);
}

.contato {
    width: 700px;
    padding-left: 80px;
    padding-top: 20px;
}

.formulario {
    width: 700px;
    line-height: 100%;
    padding-left: 80px;
}

.formulario label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.formulario input[type = text], textarea {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    background-color:whitesmoke;
    padding: 10px;
    color:dimgrey;
}

.formulario textarea {
    min-height: 100px;
}

.formulario input[type = submit] {
    float:right;
    color:dimgray;
}

input.nao_valido, textarea.nao_valido {
    border-bottom: 1px solid red !important;
}

.mail {
    width: 700px;
    padding-left: 80px;
    padding-top: 30px;
}

.celular {
    width: 700px;
    padding-left: 80px;
    padding-top: 5px;
}

.endereco {
    width: 700px;
    padding-left: 80px;
    padding-top: 5px;
}

.descritivo {
    font-size: small;
}

.projetos {
    line-height: 40%;
    font-weight: bold;
}

.projetos a:hover {
    color: rgb(109, 199, 199);

}

@media screen  and (min-width: 481px) and (max-width: 1200px) {

    .visual {

        width: 100%;
        height: 250px;
    }

    footer {
        padding-top: 1px;
    }

    footer a {
        margin: 10px;
    }

    footer p {
        margin-top: 2px;
    }

    .about {
        width: 100%;
        border: none;
        padding-left: 10px;
        font-size: 80%;
    }

    .sobre {
        padding-top: 5px;
    }

    .contato {
        width: 100%;
        padding-left: 10px;
        padding-top: 20px;
    }

    .formulario {
        width: 100%;
        line-height: 100%;
        padding-left: 10px;
    }

    .mail {
        width: 100%;
        padding-left: 10px;
        padding-top: 50px;
    }
    
    .celular {
        width: 100%;
        padding-left: 10px;
    }
    
    .endereco {
        width: 100%;
        padding-left: 10px;
    }

}

@media screen  and (max-width: 480px) {

    ul {
        justify-content: center;
    }

    header img {

        width: 120px;
        height: 120px;
    }

    .visual {

        width: 100%;
        height: 200px;
    }

    footer img {
        width: 20px;
        height: 20px;
    }

    footer {
        padding-top: 1px;
    }

    footer a {
        margin: 10px;
    }

    footer p {
        margin-top: 2px;
        font-size: 60%;
    }

    .about {
        width: 100%;
        border: none;
        padding-left: 10px;
        font-size: 80%;
    }

    .sobre {
        padding-top: 5px;
    }

    .contato {
        width: 100%;
        padding-left: 10px;
        padding-top: 20px;
    }

    .formulario {
        width: 100%;
        line-height: 100%;
        padding-left: 10px;
    }

    .mail {
        width: 100%;
        padding-left: 10px;
        padding-top: 50px;
    }
    
    .celular {
        width: 100%;
        padding-left: 10px;
    }
    
    .endereco {
        width: 100%;
        padding-left: 10px;
    }
}
